body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/1620758781_6-pibig_info-p-rizhii-les-priroda-krasivo-foto-6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.video_container {
    position: relative;
    width: 500px;
}

.video_container video {
    width: 100%;
    z-index: 0;
    border-radius: 35px;
    cursor: pointer;
}

.video__time {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1;
    color: #8f0d0d;
    font-size: 5vmin;
}